<p id="notice"><%= notice %></p>



<div class="diaries-main">
<h1>日記一覧画面</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>日付</th>
      <th>更新日</th>
    </tr>
  </thead>

  <tbody>
    <% @user.diaries.each do |diary| %>
      <tr>
        <td><%= diary.id %></td>
        <td><%= link_to diary.title, diary %></td>
        <td><%= diary.created_at %></td>
        <td><%= diary.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '日記を新規作成', new_diary_path %>

</div>